accelerate
datasets==3.5.0
evaluate==0.4.3
modelscope
numpy
pandas
psutil
pyyaml
safetensors
sentencepiece
timm==0.6.5
torch==2.6.0
torchvision
tqdm
transformers==4.51.2
tiktoken
protobuf
scipy
scikit-learn
